<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.cloud.iotcloudspring.mapper.DeviceMapper">
    <insert id="insertDeviceType" parameterType="com.atguigu.cloud.iotcloudspring.pojo.device.DeviceType">
        INSERT INTO devicetype
        (projectid, typename, accesscategory, communicationmode, protocol, dataformat, createtime, updatetime)
        VALUES (#{projectid}, #{typename}, #{accesscategory}, #{communicationmode}, #{protocol}, #{dataformat}, NOW(),
                NOW())
    </insert>

    <delete id="deleteDeviceType" parameterType="java.lang.Long">
        DELETE
        FROM devicetype
        WHERE id = #{id}
    </delete>

    <select id="selectDeviceTypeList" resultType="com.atguigu.cloud.iotcloudspring.pojo.device.DeviceType">
        select id, typename, accesscategory, protocol
        from devicetype
        where projectid = #{projectid}
    </select>

    <select id="selectDeviceTypeNameList" resultType="com.atguigu.cloud.iotcloudspring.pojo.device.DeviceType">
        select id, typename
        from devicetype
        where projectid = #{projectid}
    </select>

    <insert id="insertDeviceTypeAttribute"
            parameterType="com.atguigu.cloud.iotcloudspring.pojo.device.DeviceTypeAttribute">
        INSERT INTO devicetypeattribute (devicetypeid, attributename, displayname,
                                         fieldkey,
                                         iscontrol,
                                         isquery, attributeunit, datatype,
                                         devicetypeattribute.attributetype, attributedesc, expandoptions, createtime,
                                         updatetime)
        VALUES (#{devicetypeid}, #{attributename}, #{displayname},
                #{fieldkey},
                #{iscontrol},
                #{isquery}, #{attributeunit}, #{datatype}, #{attributetype}, #{attributedesc},
                #{expandoptions},
                NOW(), NOW())
    </insert>

    <select id="selectAttributesByDeviceTypeId"
            resultType="com.atguigu.cloud.iotcloudspring.pojo.device.DeviceTypeAttribute">
        SELECT id,
               devicetypeid,
               attributename,
               displayname,
               fieldkey,
               iscontrol,
               isquery,
               attributeunit,
               datatype,
               attributetype,
               attributedesc,
               expandoptions
        FROM devicetypeattribute
        WHERE devicetypeid = #{devicetypeid}
    </select>

    <select id="findByProjectNameLocation" resultType="com.atguigu.cloud.iotcloudspring.pojo.device.Device">
        SELECT id, devicekey, devicename, devicelocation
        FROM device
        WHERE projectid = #{projectId}
        <if test="name != null and name != ''">
            AND devicename = #{name}
        </if>
        <if test="location != null and location != ''">
            AND devicelocation = #{location}
        </if>
    </select>

    <delete id="deleteDeviceTypeAttributeById" parameterType="java.lang.Long">
        DELETE
        FROM devicetypeattribute
        WHERE id = #{id}
    </delete>

    <insert id="insertDevice" parameterType="com.atguigu.cloud.iotcloudspring.pojo.device.Device">
        INSERT INTO device (projectid, devicetypeid, nodeid,devicename, devicelocation, devicekey, devicecommunication,
                            deviceinformation,
                            createtime, updatetime)
        VALUES (#{projectid}, #{devicetypeid}, #{nodeid},#{devicename}, #{devicelocation}, #{devicekey}, #{devicecommunication},
                #{deviceinformation}, NOW(), NOW())
    </insert>

    <update id="updateDevice">
        UPDATE device
        <set>
            <if test="devicetypeid != null">devicetypeid = #{devicetypeid},</if>
            <if test="devicename != null">devicename = #{devicename},</if>
            <if test="devicelocation != null">devicelocation = #{devicelocation},</if>
            <if test="devicecommunication != null">devicecommunication = #{devicecommunication},</if>
            <if test="deviceinformation != null">deviceinformation = #{deviceinformation},</if>
            <if test="devicestatus != null">devicestatus = #{devicestatus},</if>
            updatetime = now()
        </set>
        WHERE id = #{id}
    </update>

    <update id="updateDeviceType">
        UPDATE devicetype
        <set>
            <if test="typename != null">typename = #{typename},</if>
            <if test="accesscategory != null">accesscategory = #{accesscategory},</if>
            <if test="communicationmode != null">communicationmode = #{communicationmode},</if>
            <if test="protocol != null">protocol = #{protocol},</if>
            <if test="dataformat != null">dataformat = #{dataformat},</if>
        </set>
        WHERE id = #{id}
    </update>
    <update id="updateDeviceAttribute">
        UPDATE devicetypeattribute
        <set>
            <if test="attributename!= null">attributename = #{attributename},</if>
            <if test="displayname!= null">displayname = #{displayname},</if>
            <if test="fieldkey!= null">fieldkey = #{fieldkey},</if>
            <if test="iscontrol!= null">iscontrol = #{iscontrol},</if>
            <if test="isquery!= null">isquery = #{isquery},</if>
            <if test="attributeunit!= null">attributeunit = #{attributeunit},</if>
            <if test="attributetype!= null">attributetype = #{attributetype},</if>
            <if test="datatype!= null">datatype = #{datatype},</if>
            <if test="attributedesc!= null">attributedesc = #{attributedesc},</if>
            <if test="expandoptions!= null">expandoptions = #{expandoptions},</if>
        </set>
        where id = #{id}
    </update>

    <select id="selectDeviceNameById" resultType="java.lang.String">
        SELECT devicename
        from device
        where id = #{id}
    </select>

    <select id="selectDeviceNameByName" resultType="Long">
        SELECT id
        from devicetype
        where typename = #{name}
    </select>

    <delete id="deleteDeviceById" parameterType="java.lang.Long">
        delete
        from device
        where id = #{id}
    </delete>

    <select id="selectDeviceById" parameterType="Long" resultType="com.atguigu.cloud.iotcloudspring.pojo.device.Device">
        SELECT id,
               projectid,
               devicetypeid,
               devicename,
               devicekey,
               devicelocation,
               devicecommunication,
               deviceinformation,
               devicestatus,
               createtime,
               updatetime
        FROM device
        WHERE id = #{id}
    </select>

    <select id="selectByDeviceKey"
            parameterType="string"
            resultType="com.atguigu.cloud.iotcloudspring.pojo.device.Device">
        SELECT id,
               projectid,
               devicetypeid,
               devicename,
               devicekey,
               devicelocation,
               devicecommunication,
               mqttusername,
               mqttpassword,
               devicegroup,
               deviceinformation,
               devicestatus,
               createtime,
               updatetime
        FROM device
        WHERE devicekey = #{deviceKey}
        LIMIT 1
    </select>

    <select id="selectByTypeAndName" parameterType="map"
            resultType="com.atguigu.cloud.iotcloudspring.pojo.device.DeviceTypeAttribute">
        SELECT dta.*
        FROM devicetypeattribute dta
        WHERE dta.devicetypeid = #{deviceTypeId}
          AND dta.attributename = #{attributename}
    </select>

    <select id="selectDeviceTypeById" parameterType="java.lang.Long"
            resultType="com.atguigu.cloud.iotcloudspring.pojo.device.DeviceType">
        SELECT id,
               projectid,
               typename,
               accesscategory,
               communicationmode,
               protocol,
               dataformat,
               createtime,
               updatetime
        FROM devicetype
        WHERE id = #{id}
    </select>

    <select id="selectDeviceDataByDeviceId" parameterType="java.lang.Long"
            resultType="com.atguigu.cloud.iotcloudspring.pojo.device.DeviceData">
        SELECT id,
               deviceid,
               devicetypeattributeid,
               datakey,
               datavalue,
               timestamp
        FROM devicedata
        WHERE deviceid = #{deviceid}
    </select>

    <select id="selectDevicesByProjectId" parameterType="java.lang.Long"
            resultType="com.atguigu.cloud.iotcloudspring.pojo.device.Device">
        SELECT id,
               projectid,
               devicetypeid,
               devicename,
               devicekey,
               devicelocation,
               createtime,
               updatetime
        FROM device
        WHERE projectid = #{projectid}
    </select>

    <select id="selectDeviceByDeviceTypeId" resultType="com.atguigu.cloud.iotcloudspring.pojo.device.Device">
        SELECT id,
               devicename,
               devicestatus,
               updatetime
        FROM device
        WHERE devicetypeid = #{devicetypeid}
    </select>

    <select id="selectAttributeNamesByDeviceId" resultType="com.atguigu.cloud.iotcloudspring.DTO.Device.DeviceIDName">
        SELECT dta.attributename, dta.id
        FROM device d
                 JOIN devicetypeattribute dta ON d.devicetypeid = dta.devicetypeid
        WHERE d.id = #{deviceId}
    </select>

    <select id="selectDeviceTypeNameById" resultType="java.lang.String">
        select typename
        from devicetype
        where id = #{id}
    </select>

    <select id="selectDeviceKeyById" resultType="com.atguigu.cloud.iotcloudspring.DTO.IdDTO">
        SELECT d.id             AS id,
               d.projectid      AS projectid,
               d.devicetypeid   AS devicetypeid,
               d.devicename     AS devicename,
               d.devicelocation AS devicelocation,
               dt.typename      AS typename,
               pa.userid        AS userid
        FROM device d
                 LEFT JOIN projectadd pa ON d.projectid = pa.id
                 LEFT JOIN devicetype dt ON d.devicetypeid = dt.id
        WHERE d.devicekey = #{devicekey}

    </select>

    <select id="selectDeviceKeyByDeviceId" resultType="java.lang.String">
        SELECT devicekey
        from device
        where id = #{deviceid}
    </select>

    <select id="selectLatestValueByDeviceKeyAndFieldKey" resultType="java.lang.String">
        SELECT dd.datavalue
        FROM devicedata dd
                 INNER JOIN device d
                            ON dd.deviceid = d.id
                 INNER JOIN devicetypeattribute dta
                            ON dd.devicetypeattributeid = dta.id
        WHERE d.devicekey = #{deviceKey}
          AND dta.fieldkey = #{fieldkey}
        ORDER BY dd.timestamp DESC
        LIMIT 1
    </select>

    <select id="selectDeviceByDeviceKeyAndFieldKeys"
            resultType="com.atguigu.cloud.iotcloudspring.DTO.Device.DeviceDataFieldKeysDTO">
        SELECT fieldKey, value
        FROM (
        SELECT
        dta.fieldkey AS fieldKey,
        dd.datavalue AS value,
        ROW_NUMBER() OVER (
        PARTITION BY dta.fieldkey
        ORDER BY dd.timestamp DESC, dd.id DESC
        ) AS rn
        FROM devicedata dd
        INNER JOIN device d
        ON dd.deviceid = d.id
        INNER JOIN devicetypeattribute dta
        ON dd.devicetypeattributeid = dta.id
        WHERE d.devicekey = #{deviceKey}
        AND dta.fieldkey IN
        <foreach collection="fieldKeys" item="fk" open="(" separator="," close=")">
            #{fk}
        </foreach>
        ) t
        WHERE rn = 1
    </select>

    <insert id="insertFieldTemplate" parameterType="com.atguigu.cloud.iotcloudspring.pojo.device.FieldTemplate"
            useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO field_template
        (project_id,
         field_key,
         display_name,
         data_type,
         default_unit,
         default_value,
         description)
        VALUES (#{projectId},
                #{fieldKey},
                #{displayName},
                #{dataType},
                #{defaultUnit},
                #{defaultValue},
                #{description})
    </insert>

    <resultMap id="PointMap" type="com.atguigu.cloud.iotcloudspring.DTO.Device.DeviceAttributePointDTO">
        <result column="datavalue" property="datavalue"/>
        <result column="timestamp" property="timestamp"/>
        <result column="datakey"   property="datakey"/>
    </resultMap>

    <!-- 方式 A：用 key 关联 -->
    <select id="selectHistoryByKey" resultMap="PointMap">
        SELECT dd.datavalue, dd.`timestamp`
        FROM devicedata dd
                 INNER JOIN device d
                            ON dd.deviceid = d.id
                 INNER JOIN devicetypeattribute dta
                            ON dd.devicetypeattributeid = dta.id
        WHERE d.devicekey = #{deviceKey}
          AND dta.fieldkey = #{fieldKey}
          AND dd.`timestamp` BETWEEN #{startTime} AND #{endTime}
        ORDER BY dd.`timestamp`
    </select>

    <!-- 方式 B：直接用 ID -->
    <select id="selectHistoryById" resultMap="PointMap">
        SELECT dd.datakey   AS datakey,
               dd.datavalue AS datavalue,
               dd.timestamp AS timestamp
        FROM devicedata dd
                 JOIN devicetypeattribute dta
                      ON dta.id = dd.devicetypeattributeid
        WHERE dd.deviceid = #{deviceId}
          AND dd.devicetypeattributeid = #{attributeId}
          AND dd.timestamp BETWEEN #{startTime} AND #{endTime}
        ORDER BY dd.timestamp
    </select>

    <select id="selectTypeDetailById" resultType="com.atguigu.cloud.iotcloudspring.DTO.Device.DeviceTypeDTO">
        SELECT dt.id, dt.projectid, dt.typename, dt.accesscategory, dt.communicationmode, dt.protocol, dt.dataformat
        FROM devicetype dt
        WHERE dt.id = #{typeId}
    </select>

    <select id="selectDeviceAttributeById"
            resultType="com.atguigu.cloud.iotcloudspring.DTO.Device.Response.DeviceTypeAttributeResponse">
        select dt.id,
               dt.devicetypeid,
               dt.attributename,
               dt.displayname,
               dt.fieldkey,
               dt.iscontrol,
               dt.isquery,
               dt.attributeunit,
               dt.attributetype,
               dt.datatype,
               dt.attributedesc,
               dt.expandoptions
        from devicetypeattribute dt
        where dt.id = #{id}
    </select>

    <select id="deviceIdSelectDeviceKeyById" parameterType="Long" resultType="String">
        SELECT devicekey
        FROM device
        WHERE id = #{id}
    </select>

    <select id="listDeviceIdsByProjectAndType" resultType="long">
        SELECT id
        FROM device
        WHERE projectid = #{projectId}
          AND devicetypeid = #{deviceTypeId}
    </select>

    <select id="selectMessageCounts" resultType="com.atguigu.cloud.iotcloudspring.DTO.Device.MessageCountDTO">
        SELECT
        <choose>
            <when test="interval=='MINUTE'">
                DATE_FORMAT(created_at, '%Y-%m-%d %H:%i:00')
            </when>
            <when test="interval=='DAY'">
                DATE_FORMAT(created_at, '%Y-%m-%d 00:00:00')
            </when>
            <otherwise>
                DATE_FORMAT(created_at, '%Y-%m-%d %H:00:00')
            </otherwise>
        </choose>
        AS timestamp,
        SUM(IF(direction='UP', 1, 0)) AS upCount,
        SUM(IF(direction='DOWN', 1, 0)) AS downCount
        FROM device_message_log
        WHERE device_id = #{deviceId}
        AND created_at BETWEEN #{startTime} AND #{endTime}
        GROUP BY timestamp
        ORDER BY timestamp
    </select>

    <select id="selectMessageLatency" resultType="com.atguigu.cloud.iotcloudspring.DTO.Device.MessageLatencyDTO">
        SELECT
        <choose>
            <when test="interval=='MINUTE'">
                DATE_FORMAT(created_at, '%Y-%m-%d %H:%i:00')
            </when>
            <when test="interval=='DAY'">
                DATE_FORMAT(created_at, '%Y-%m-%d 00:00:00')
            </when>
            <otherwise>
                DATE_FORMAT(created_at, '%Y-%m-%d %H:00:00')
            </otherwise>
        </choose>
        AS timestamp,
        AVG(latency_ms) AS avgLatencyMs,
        MAX(latency_ms) AS maxLatencyMs,
        MIN(latency_ms) AS minLatencyMs
        FROM device_message_log
        WHERE device_id = #{deviceId}
        AND direction = 'UP'
        AND created_at BETWEEN #{startTime} AND #{endTime}
        GROUP BY timestamp
        ORDER BY timestamp
    </select>

    <select id="selectDeviceIdsByProjectId" resultType="long">
        SELECT id
        FROM device
        WHERE projectid = #{projectId}
    </select>

    <select id="selectDataByDeviceIds" resultType="com.atguigu.cloud.iotcloudspring.DTO.Device.DeviceDataDTO">
        SELECT
        dd.deviceid AS deviceId,
        dd.datakey AS dataKey,
        dd.datavalue AS dataValue,
        dd.timestamp
        FROM devicedata dd
        WHERE dd.deviceid IN
        <foreach item="id" collection="deviceIds" open="(" separator="," close=")">
            #{id}
        </foreach>
        ORDER BY dd.timestamp
    </select>

    <select id="countSince" resultType="int">
        SELECT COUNT(*)
        FROM devicedata dd
                 JOIN device d ON d.id = dd.deviceid
        WHERE d.projectid = #{projectId}
          AND dd.timestamp &gt; #{since}
    </select>

    <select id="selectForTraining" resultType="com.atguigu.cloud.iotcloudspring.DTO.Device.DataPointDTO">
        SELECT dd.timestamp, dd.datakey, dd.datavalue
        FROM devicedata dd
                 JOIN device d ON d.id = dd.deviceid
        WHERE d.projectid = #{projectId}
        ORDER BY dd.timestamp
    </select>

    <select id="selectAttributeKeyById" resultType="java.lang.String">
        SELECT attributename
        FROM devicetypeattribute
        where id = #{id}
    </select>

    <update id="updateNodeId">
        UPDATE device d
        JOIN iot_node n ON n.id = #{nodeId}
        SET d.nodeid         = #{nodeId},
        d.devicelocation = n.node_name,
        d.updatetime     = NOW()
        WHERE d.id = #{id}
    </update>

    <select id="selectById" resultType="com.atguigu.cloud.iotcloudspring.pojo.device.Device" parameterType="long">
        SELECT *
        FROM device
        WHERE id = #{id}
    </select>


    <select id="listByNodeId" resultType="com.atguigu.cloud.iotcloudspring.pojo.device.Device" parameterType="long">
        SELECT *
        FROM device
        WHERE nodeid = #{nodeId}
        ORDER BY createtime DESC
    </select>

    <select id="selectLatestWindow"
            resultType="com.atguigu.cloud.iotcloudspring.DTO.Device.DeviceDataDTO">
        WITH proj_devices AS (SELECT id
                              FROM device
                              WHERE projectid = #{projectId}),
             full_timestamps AS (SELECT dd.timestamp
                                 FROM devicedata dd
                                          JOIN proj_devices pd ON dd.deviceid = pd.id
                                 WHERE dd.datakey IN ('humidity', 'temperature', 'pm10', 'pm2_5')
                                 GROUP BY dd.timestamp
                                 HAVING COUNT(DISTINCT dd.datakey) = 4
                                 ORDER BY dd.timestamp DESC
                                 LIMIT #{window})
        SELECT dd.deviceid  AS deviceId,
               dd.datakey   AS dataKey,
               dd.datavalue AS dataValue,
               dd.timestamp AS timestamp
        FROM devicedata dd
                 JOIN full_timestamps ft ON dd.timestamp = ft.timestamp
                 JOIN proj_devices pd ON dd.deviceid = pd.id
        WHERE dd.datakey IN ('humidity', 'temperature', 'pm10', 'pm2_5')
        ORDER BY dd.timestamp
    </select>
</mapper>