<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.cloud.iotcloudspring.mapper.FieldTemplateMapper">
    <resultMap id="BaseResultMap" type="com.atguigu.cloud.iotcloudspring.pojo.device.FieldTemplate">
        <id column="id" property="id"/>
        <result column="field_key" property="fieldKey"/>
        <result column="display_name" property="displayName"/>
        <result column="data_type" property="dataType"/>
        <result column="default_unit" property="defaultUnit"/>
        <result column="default_value" property="defaultValue"/>
        <result column="description" property="description"/>
    </resultMap>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT id,
               project_id,
               field_key,
               display_name,
               data_type,
               default_unit,
               default_value,
               description
        FROM field_template
        WHERE project_id = #{projectId}
           OR project_id IS NULL
        ORDER BY project_id DESC,
                 id;
    </select>
</mapper>